aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
cachetools==6.1.0
chardet==5.2.0
colorama==0.4.6
distlib==0.4.0
filelock==3.19.1
frozenlist==1.7.0
idna==3.10
iniconfig==2.1.0
multidict==6.6.4
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
propcache==0.3.2
Pygments==2.19.2
pyproject-api==1.9.1
pytest==8.4.1
pytest-asyncio==1.1.0
tox==4.28.4
virtualenv==20.34.0
yarl==1.20.1
